.App {
  background-image: url('../assets/images/first-bg-1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  overflow-x: hidden;
  position: relative;
  justify-content: space-between;
}