body {
  margin: 0;
  font-family: 'Cera Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/Cera-Pro-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/Cera-Pro-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/Cera-Pro-Black.ttf') format('truetype');
  font-weight: 900;
}